Job Unpublished: {{ job_title }}

Hello {{ recipient_name }},

We wanted to inform you that the job listing below has been temporarily unpublished:

Title: {{ job_title }}
Company: {{ company_name }}
Location: {{ job_location }}

Click here to view the job listing: {{ job_url }}

Best regards,
Your Job Board Team

--------------------------------------------------
This email was sent to you because you are subscribed to job notifications.
