New Job Listing: {{ job_title }}

Hello {{ recipient_name }},

We are excited to inform you about a new job posting:

Title: {{ job_title }}
Company: {{ company_name }}
Location: {{ job_location }}

Click here to view the job listing and apply: {{ job_url }}

Best regards,
Your Job Board Team

--------------------------------------------------
This email was sent to you because you are subscribed to job notifications.